*{
	margin: 0;
	box-sizing: border-box;
}

html,body{
	font-family: Roboto;
	color: white;
	height: 100%;
}
ul {
	display: inline-flex;
	list-style-type: none;
	padding: 0;
}


section.landing-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	background: #222 url("../assets/background.png") no-repeat fixed center;
}


.title-container header {
}

.title-container header h1 > span {
	border-bottom: 2px orange dashed;
}

.title-container aside {
	padding: 25px 0;
	display: flex;
	
}

aside > ul li {
	min-width: 75px;
}

section.projects-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #330004;
}

.projects-lists {
	width: 80%;
	padding: 25px 0;
	display: inline-flex;
	justify-content: space-around;
}

.project {
	width: (100%/3);
}

.project > figure {
	width: 300px;
	height: 225px;
	background: black;
}