.cta-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.cta-container h1 {
	font-size: 2em;
}

.cta-container ul {
	margin-left: 2.5rem;
	display: flex;
	flex-direction: row;
	gap: 0 5ch;
}

.cta-container ul li {
	font-size: 2em;
}
