.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 5rem;
}

.content-section {
	padding-inline: 5rem;
}
.content-section h1 {
	margin: 0 0 0.1em 0;
}

.content-section p {
	font-size: 1.65em;
	font-weight: lighter;
	line-height: 1.65em;
	color: #fff;
	opacity: 0.85;
	margin: 0 0 5em 0;
	max-width: 1000px;
}
