@import url("./fa/css/brands.min.css");

/*
 *
 * Default stylings for the footer section
 *
 */
footer {
	counter-reset: footer-nav;
	margin-bottom: 1em;
	padding-left: 5em;
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
	column-gap: 7.5rem;
	grid-template-areas:
		"fullname location nav"
		"title email nav"
		"socials socials socials"
		"copyright copyright copyright";
}

.grid {
	display: flex;
	align-items: flex-end;
}
.name {
	grid-area: fullname;
}

.title {
	grid-area: title;
}

.location {
	grid-area: location;
}

.email {
	min-width: 200px;
	grid-area: email;
}

.footer-nav {
	grid-area: nav;
}

.socials {
	grid-area: socials;
}

.copyright {
	grid-area: copyright;
}

.footer-nav ul {
	display: grid;
	padding: 0;
	margin: 0;

	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
	column-gap: 5em;
	grid-template-areas:
		"home projects"
		"home projects"
		"about contact"
		"about contact";
}

.footer-nav ul li:first-child {
	grid-area: home;
}

.footer-nav ul li:nth-child(2) {
	grid-area: about;
}

.footer-nav ul li:nth-child(3) {
	grid-area: projects;
}

.footer-nav ul li:nth-child(4) {
	grid-area: contact;
}

/*
 *
 * Stylings meant to change or be more dynamic
 *
 */

footer a:not(.icon) {
	position: relative;
	font-size: 1em;
	height: 20px;
	transform-origin: center;
	transition: font-size 0.25s;
}
footer a:not(.icon):hover {
	font-size: 0.9em;
}

footer a:not(.icon):after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fca311;
	transform-origin: bottom right;
	transition: width 0.35s ease-out;
}

footer a:not(.icon):hover:after {
	width: 100%;
	transform-origin: bottom left;
}

.footer-nav li {
	min-width: 100px;
}

.footer-nav a:before {
	counter-increment: footer-nav;
	content: "0" counter(footer-nav) " | ";
	font-size: 0.9em;
}
.footer-nav a:after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fca311;
	transform-origin: bottom right;
	transition: width 0.15s ease-out;
}

.footer-nav a:hover:after {
	width: 100%;
	transform-origin: bottom left;
}

/* .footer-nav ul > li {
	margin-top: 5px;
} */

.socials ul {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	margin-left: 0.25em;
	padding: 0;
	gap: 20px;
}

.icon > .label {
	display: none;
}

.icon.fab {
	color: #e5e5e5;
	opacity: 0.5;
	font-size: 2em;
	transition: opacity 0.5s;
}

.icon.fab:hover {
	opacity: 0.95;
}

.copyright {
	color: rgba(255, 255, 255);
	opacity: 0.5;
	font-size: 0.75em;
}
