@import url("./fa/css/brands.min.css");

footer {
	counter-reset: footer-nav;
	padding-top: 5em;
	padding-left: 5em;
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
	column-gap: 7.5rem;
	grid-template-areas:
		"fullname location nav"
		"title email nav"
		"socials socials social"
		"copyright copyright copyright";
}

footer h1,
footer p {
	margin: 0;
}

.grid {
	display: flex;
	align-items: flex-end;
}
.name {
	grid-area: fullname;
}

.title {
	grid-area: title;
}

.location {
	grid-area: location;
}

.email {
	grid-area: email;
}

.footer-nav {
	grid-area: nav;
}

.socials {
	grid-area: socials;
}

.copyright {
	color: #495057;
	grid-area: copyright;
}

footer a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

.footer-nav ul {
	display: grid;
	list-style: none;
	padding: 0;
	margin: 0;

	grid-template-columns: auto auto;
	grid-template-rows: 1fr 1fr;
	column-gap: 5em;
	grid-template-areas:
		"home projects"
		"home projects"
		"about contact"
		"about contact";
}
.footer-nav ul li:first-child {
	grid-area: home;
}
.footer-nav ul li:nth-child(2) {
	grid-area: about;
}

.footer-nav ul li:nth-child(3) {
	grid-area: projects;
}

.footer-nav ul li:nth-child(4) {
	grid-area: contact;
}
.footer-nav nav ul li {
	min-width: 75px;
	font-size: 1em;
	transition: font-size 0.1s;
}
.footer-nav a:hover {
	font-size: 0.8em;
}

.footer-nav a:before {
	counter-increment: footer-nav;
	content: "0" counter(footer-nav);
	padding-right: 10px;
	font-size: 0.9em;
}

/* .footer-nav ul > li {
	margin-top: 5px;
} */

.socials ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	gap: 20px;
}

.copyright {
	padding-bottom: 20px;
}

.icon > .label {
	display: none;
}

.icon.fab {
	color: #e5e5e5;
	opacity: 0.5;
	font-size: 1.75em;
}
