.left-tab-container {
	font-size: 18px;
	letter-spacing: 3px;
}
.left-tab-container h3 {
	width: max-content;
	margin: 0;
	text-transform: uppercase;
	opacity: 0.5;
	transform: rotateZ(-90deg) translate(-200px, -75px);
}
