.left-tab-container {
	background: green;
	font-size: 18px;
	letter-spacing: 3px;
}
.left-tab-container h3 {
	width: fit-content;
	margin: 0;
	text-transform: uppercase;
	transform: rotateZ(-90deg) translate(-125px, -10px);
}
