:root {
	--primary-color: hsla(260, 18.4%, 9.6%, 1);
	--secondary-color: hsla(221, 50.6%, 15.9%, 1);
	--accent-color: hsla(37, 97.5%, 52.7%, 1);
	--text-color-light: hsla(0, 0%, 89.8%, 1);

	--background-gradient: linear-gradient(
		180deg,
		var(--primary-color),
		var(--secondary-color)
	);
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background: var(--background-gradient);
	color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25em;
	font-weight: 700;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
