:root {
	--primary-color: hsla(260, 18.4%, 9.6%, 1);
	--secondary-color: hsla(221, 50.6%, 15.9%, 1);
	--accent-color: hsla(37, 97.5%, 52.7%, 1);
	--text-color-light: hsla(0, 0%, 89.8%, 1);

	--background-gradient: linear-gradient(
		to left,
		var(--primary-color),
		var(--secondary-color)
	);
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	/* IE10 Consumer Preview */
	background: -ms-linear-gradient(
		to bottom,
		var(--primary-color) 0%,
		var(--secondary-color) 100%
	);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(
		to bottom,
		var(--primary-color) 0%,
		var(--secondary-color) 100%
	);
	/* Opera */
	background: -o-linear-gradient(
		to bottom,
		var(--primary-color) 0%,
		var(--secondary-color) 100%
	);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, var(--primary-color)),
		color-stop(1, var(--secondary-color))
	);
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(
		to bottom,
		var(--primary-color) 0%,
		var(--secondary-color) 100%
	);
	/* W3C Markup, IE10 Release Preview */
	background: linear-gradient(
		to bottom,
		var(--primary-color) 0%,
		var(--secondary-color) 100%
	);
	/* background: -moz-linear-gradient(
		top,
		var(--primary-color),
		var(--secondary-color)
	);
	background: -webkit-linear-gradient(
		top,
		var(--primary-color),
		var(--secondary-color)
	);
	background: var(--background-gradient); */
	color: var(--text-color-light);

	font-family: "Trebuchet MS", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.25em;
	font-weight: 700;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

.container {
	width: auto;
	padding: 2rem;
	background-color: var(--primary-color);

	box-shadow: -1rem 0 2rem var(--primary-color);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .image-container {
	width: 160px;
	height: 160px;
	background-image: url("./images/abrahym-sharfeldden.jpg");
	background-color: grey;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
}

.content {
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content h1 {
	font-size: 2.5rem;
	margin-bottom: 0;
	font-variant: small-caps;
}

.content p {
	font-size: 0.9rem;
}

.content ul {
	display: flex;
}

.content ul li {
	padding: 0 0.75em;
}

.content ul li:first-child {
	padding-left: 0;
}

.fab {
	opacity: 0.5;
	transition: 0.35s;
}
.fab:hover {
	color: var(--accent-color);
	opacity: 1;
}

.label {
	display: none;
}

.btn-ghost {
	background: transparent;
	position: relative;
	display: inline-block;
	margin: 15px 0;
	line-height: 1;
	color: var(--text-color-light);
	font-size: 12px;
	text-transform: uppercase;
	padding: 14px 25px;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid var(--text-color-light);
	width: fit-content;

	transition: 0.3s ease;
}

.btn-ghost:hover {
	background: var(--accent-color);
	border-color: var(--accent-color);
	color: var(--text-color-light);
}

@media only screen and (max-width: 767px) {
	.container {
		flex-direction: column;
	}

	.content {
		align-items: center;
		padding: 0;

		gap: 0.5rem;
	}
}
