@import-normalize; /* bring in normalize.css styles */
@import url("./components/styles/fa/css/brands.min.css"); /* Needed for linkedIn and Github icons */
@import url("./components/styles/fa/css/solid.min.css"); /* Needed for Projects Icons */
@import url("./components/styles/fa/css/fontawesome.min.css"); /* Needed for Projects Icons */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	background: #14213d;
	background: #17141d;
	color: #e5e5e5;
	width: 100vw;
	/* background: url("./images/bg01.jpg") 100% 100%  no-repeat; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25em;
	font-weight: 700;
	color: #fff;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

a:focus,
a.icon:focus {
	color: rgb(252, 163, 17, 0.75);
	outline: 2px inset rgb(252, 163, 17);
}

#root {
	width: 100vw;
	height: 100vh;
}

/* 3440 - 75 - 600 */
.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 75px clamp(250px, calc(75% - 75px), 2700px) 1fr;
	grid-template-rows: 3fr 3fr 2fr 1fr;
	grid-template-areas:
		"lefttab content header"
		"lefttab content header"
		"lefttab content nothing"
		"lefttab footer footer";
}

.header-container {
	grid-area: header;
}

.content-container {
	grid-area: content;
}

.left-tab-container {
	grid-area: lefttab;
}

.footer-container {
	grid-area: footer;
}
